/* calendar.css */

/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

/* Material Symbols */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700&display=swap");

:root{
  --primary: #197fe6;
  --bg-light: #f6f7f8;
  --bg-dark: #111921;
  --text-dark: #111418;
}

.font-display {
  font-family: "Public Sans", sans-serif;
}

/* Material Symbols helper */
.material-symbols-outlined{
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

/* Optional: if you later add a "dark" class on <html> or <body> */
.dark-scope{
  background: var(--bg-dark);
  color: white;
}
