@tailwind utilities;
@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== THEME CONFIG (Tailwind v4) ===== */
@theme {
  --color-primary: #197fe6;
  --color-background-light: #f6f7f8;


  --font-display: "Public Sans", sans-serif;
}

/* ===== GLOBAL STYLES ===== */
body {
  background-color: var(--color-background-light);
  color: rgb(15 23 42); /* slate-900 */
  font-family: var(--font-display);
}
